#add-new-house-form .input-area{
    box-sizing: padding-box;
    float: right;
    margin: 10px 0;
    height: 55px;
}
#add-new-house-form .radio-input {
    float: right;
    min-width: 100px;
    margin: 10px 20px;
}
#add-new-house-form .input-area label {
    font-size: medium;
    color: gray;
    display: block;
    float: left;
}
#add-new-house-form .input-area input, #add-new-house-form .input-area select {
    width: 100%;
    clear: both;
    font-size: medium;
    color: black;
    padding: 10px;
    border: 1px solid #3AD2CB;
    border-radius: 10px;
}

#add-new-house-form  button {
    box-sizing: padding-box;
    font-size: medium !important;
    display: block;
    width: 100%;
    float: right;
    margin-top: 20px;
}

@media only screen and (max-width: 768px){
    add-new-house-form  .input-area, add-new-house-form  button {
        width: 100%;
        margin: 10px 0;
    }
}

#add-new-house-form #warning {
    clear: both;
    margin: 10px;
}