#increase-credit-form #input-area{
    box-sizing: padding-box;
    width: 50%;
    float: right;
    margin: 10px 0;
}
#increase-credit-form #input-area label {
    font-size: medium;
    color: gray;
    display: block;
    float: left;
}
#increase-credit-form #input-area > input {
    width: 100%;
    font-size: medium;
    color: black;
    padding: 10px;
    border: 1px solid #3AD2CB;
    border-radius: 10px;
}

#increase-credit-form  button {
    box-sizing: padding-box;
    font-size: medium !important;
    display: block;
    width: 40%;
    float: right;
    margin: 37px 10% 10px 0;
}

@media only screen and (max-width: 768px){
    #increase-credit-form  #input-area, #increase-credit-form  button {
        width: 100%;
        margin: 10px 0;
    }
}

#increase-credit-form #warning {
    clear: both;
    margin: 10px;
}