#wrapper{
    min-height: calc(100vh - 360px);
    margin-bottom: 30px;
    font-family: Shabnam;
}

#page-notice{
    padding-top: 30px;
    text-align: center;
    font-family: Shabnam;
    font-size: x-large;
    color: #A9A9A0;
}