#search-house-form {
    background-color: rgba(50,50,50, 0.5);
    color: white;
    padding: 10px 10px;
    margin: 10px 0;
    border-radius: 5px;
}
#search-house-form div{
    max-height: 55px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}
#search-house-form .text-label {
    /*display: block;*/
}
#search-house-form input:not([type="radio"]), #search-house-form select, #search-house-form button {
    color: black;
    width: 100%;
    padding: 7px;
    border: 0;
    border-radius: 5px;
}
#search-house-form button{
    background-color: #3AD2CB;
    color: white;
}
#search-house-form .radio-input {
    text-align: right;
}