#sign-in-form div{
    max-height: 55px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}
#sign-in-form input, #search-house-form button {
    color: black;
    width: 100%;
    padding: 7px;
    border: 0;
    border-radius: 5px;
}
#sign-in-form button{
    background-color: #3AD2CB;
    color: white;
}