#user-drop-down-menu {
    display: none;
    position: absolute;
    width: 100%;
    margin-top: 30px;
    font-size: small;
    z-index: 1031;
}
#user-drop-down-menu #dummy-div{
    position: absolute;
    width: 130%;
    height: 40px;
    top: -30px;
    right: -20%;
}

#user-drop-down-menu > div:nth-of-type(2) {
    display: flex;
    width: 200px;
    float: left;
    background-color: white;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
    flex-direction: column;
    padding: 15px 15px;
    border-radius: 0 5px 5px 5px;
}
#user-drop-down-menu > div div {
    margin: 10px 0;
}
#user-drop-down-menu > div div:nth-child(1) {
    color: black;
    font-size: large;
}
#user-drop-down-menu .button-input {
    text-align: center;
}
#user-drop-down-menu input[type="button"]{
    color: white;
    width: 90%;
    height: 40px;
    background-color: #3AD2CB;
    border: 0;
    border-radius: 5px;
    font-size: medium;
}

#user-drop-down-menu #credit {
    color: #999999;
    display: flex;
    justify-content: space-between;
}