#common-header{
    font-size: large;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Shabnam;
    color: #3DD3CC;
    background-color: white;
    box-shadow: 0 10px 10px #888888;
}

#common-header > div {
    display: flex;
    justify-content: space-between;
    margin: 0 5px;
}