#common-header #userSpace {
    position: relative;
    margin: 0 10px;
    top: 7px;
}
#common-header #userSpace > span{
    color: #675EA0 !important;
}

#common-header #userSpace i{
    padding-left: 5px;
}
#common-header #userSpace:hover #user-drop-down-menu {
    display: block;
}