
#slideshow {
    overflow: hidden;
    width: 100%;
    height: 450px;
    margin: 0 auto;
    position: absolute;
    z-index: 0;
}

.slide-wrapper {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
}

.slide {
    position: absolute;
    width: 100%;
}

#first-slide{
    animation: slidefade1 20s infinite;
}
#second-slide{
    animation: slidefade2 20s infinite;
}
#third-slide{
    animation: slidefade3 20s infinite;
}
#forth-slide{
    animation: slidefade4 20s infinite;
}

@keyframes slidefade1 {
    2% , 23% {opacity: 1;}
    27%, 98% {opacity: 0;}
}
@keyframes slidefade2 {
    0% , 23% {opacity: 0;}
    27%, 48% {opacity: 1;}
    52%, 100% {opacity: 0;}
}
@keyframes slidefade3 {
    0% , 48% {opacity: 0;}
    52%, 73% {opacity: 1;}
    77%, 100% {opacity: 0;}
}
@keyframes slidefade4 {
    2% , 73% {opacity: 0;}
    77%, 98% {opacity: 1;}
}