#add-house {
    color: white;
    background-color: rgba(50,50,50, 0.5);
    padding: 10px 0;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
}

#add-house > div {
    cursor: pointer;
}

#add-house span {
    margin: auto;
}