#ads > div {
    display: flex;
    justify-content: space-between;
}
@media only screen and (max-width: 768px) {
    #ads > div {
        flex-direction: column;
    }
}
#ads .ad-container {
    flex-grow: 1;
    flex-basis: 0;
    background-color: white;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 25px;
    margin: 10px;
    text-align: center;
}

#ads img {
    width: 40%;
}

#ads .ad-title {
    margin: 15px 0;
    font-size: x-large;
}

#ads .ad-detail {
    font-size: medium;
}