footer{
    display: flex !important;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 100px;
    flex-wrap: wrap;
    background-color: #185956;
}
footer .footer-text {
    margin: 10px 0;
    text-align: right;
    padding-right: 5%;
    color: white;
    font-size: medium;
    font-family: Shabnam;
}
footer .social-contacts {
    display: flex;
    justify-content: space-between;
}
footer .social-contacts img{
    width: 30px;
    margin: 10px 15px;
}