#house-full-info-content {
    width: 100%;
}

#house-full-info-content #info-text {

}
#house-full-info-content #deal-type-box {
    text-align: center;
    padding: 5px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    background-color: deepskyblue;
    color: white;
}
#house-full-info-content #house-image img {
    width: 100%;
}
#house-full-info-content > div:nth-last-of-type(1) {
    clear: both;
}
#house-full-info-content #get-phone {
    text-align: center;
    clear: both;
    float: left;
    box-sizing: border-box;
    width: 100%;
    padding: 5px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    background-color: #3AD2CB;
    cursor: pointer;
}