#increase-credit-modal div.modal-header button {
    width: 22px;
    height: 22px;
    font-size: x-large;
    margin: 0 10px;
    color: black;
    border: 1px solid black;
    border-radius: 11px;
}

#increase-credit-modal div.modal-footer button {
    float: left;
}