#loading-box{
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 11;
}

#loading-box > div {
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}