.houseInfo img{
    width: 100%;
    height: 250px;
}
.houseInfo{
    /*direction: ltr;*/
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 80px rgba(0,0,0,0.1);
    cursor: pointer;
}
.nopadding{
    padding: 0 !important;
}
.marginStyle{
    margin-top: 40px;
    /*margin-left: 1.5%;*/
    /*margin-right: 1.5%;*/
}
#sell-rent-box{
   direction: ltr !important;
}
.sell-rent{
    font-family: Shabnam;
    font-size: 20px;
    color: white;
    position: absolute;
    padding: 1px 3% 1px 3%;
    margin: 2%;
    border-radius: 10px;
}
.sell{
    background: #5B539D;
}
.rent{
    background: #F45B69;
}
.rent-loc{
    color: #F45B69;
}
.sell-loc{
    color: #5B539D;
}
.properties{
    font-family: Shabnam;
    font-size: large;
    margin-right: 5%;
}
.house-details{
    width: 50%;
    float: right;
    margin-bottom: 10px;
    margin-top: 10px;
}
.straight-line{
    clear: both;
    border: 0.5px solid black;
    margin: 0 0 0 5%;
}
.houseInfo:hover{
    transition: all 200ms ease-in;
    transform: scale(1.05);
    box-shadow: 0px 20px 40px rgba(0,0,0,0.1);
    z-index: 1;
    /*-webkit-transition: all 100ms ease-in;*/
    /*-webkit-transform: scale(1.05);*/
    /*-ms-transition: all 100ms ease-in;*/
    /*-ms-transform: scale(1.05);*/
    /*-moz-transition: all 100ms ease-in;*/
    /*-moz-transform: scale(1.05);*/
}
