#why-khaneBeDoosh{
    margin-top: 30px;
}
#why-khaneBeDoosh-title {
    font-size: x-large;
    margin: 20px 0;
}
#why-khaneBeDoosh-pic {
    text-align: center;
}
#why-khaneBeDoosh-pic img {
    width: 100%;
}
#why-khaneBeDoosh-content {
    font-size: small;
}
#why-khaneBeDoosh-content i {
    color: blue;
    margin-left: 7px;
}