#main-page-header #userSpace {
    position: relative;
    color: white;
    padding: 5px 10px;
    margin: 15px 30px;
    border: 1px solid white;
    border-radius: 5px;
    float: left;
}
#main-page-header #userSpace i{
    padding-left: 5px;
}

#main-page-header #userSpace:hover #user-drop-down-menu {
    display: block;
}