@font-face {
    font-family: Shabnam;
    src: url("./fonsts/shabnam/Shabnam-FD.woff"), url("./fonsts/shabnam/Shabnam-FD.ttf");
}
@font-face {
    font-family: Shabnam;
    src: url("./fonsts/shabnam/Shabnam-Bold-FD.woff"), url("./fonsts/shabnam/Shabnam-Bold-FD.ttf");
    font-weight: bold;
}

.toLeft{
    float: left !important;
}
.toRight{
    float: right !important;
}
.bsrtl{
    float: right !important;
}
.to-left{
    float: left !important;
}
.direction-rtl{
    direction: rtl;
}
.vis-hidden {
    visibility: hidden;
}

.no-padding {
    padding: 0 !important;
}
.no-margin {
    margin: 0 !important;
}

.m-button{
    font-size: large;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    background-color: #3AD2CB;
    color: white;
    transition: all 200ms ease-in;
    box-shadow: 0 2px 80px rgba(0,0,0,0.1);
}
.m-button:hover{
    transition: all 200ms ease-in;
    box-shadow: 0 10px 40px rgba(0,0,0,0.2);
}
.m-button:active{
    transition: all 200ms ease-in;
    box-shadow: 0 0px 40px rgba(0,0,0,0.15);
}

.react-link {
    color: inherit !important;
    text-decoration: inherit !important;
}